{% load i18n %}

<div class="container flex-column my-5 pt-4 border-top">
    <img class='ml-2' src="https://cdn2.hexlet.io/assets/favicon-9213ff1fc34b4e2da96c3b3eb582b3d10180b250e993141d7928d6aa1f5647c1.ico" alt="Hexlet Logo" height="16px">
    <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    <img class='ml-2' src="https://github.githubassets.com/favicons/favicon.svg" alt="GitHub Logo" height="16px">
    <a target="_blank" href="https://github.com/Un1que11/python-project-52">{% trans "Source" %}</a>
</div>
